table {
    border: 1px, black, solid;
    border-collapse: collapse;
    text-align: center;
    width: 80%;
    height: 300px;
    justify-self: center;

}

td,
th {

    border: 1px, black, solid;


}
.row-1{
    background-color: aqua;
}
.row-1:hover{
    background-color: wheat;
    height: 70px;
}

.row-2:hover{
    background-color: rgb(173, 173, 191);
    height: 70px;
}